@model SIFCA.Models.MetododePagoporBanco

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MetododePagoporBanco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODBCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODBCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPTOCTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPTOCTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODCTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODCTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USRCRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USRCRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCHCRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCHCRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USRACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USRACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCHACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCHACT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODMTD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
