@model SIFCA.Models.Contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TRTMNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRTMNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APLLDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APLLDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELMOV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELMOV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELHAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELHAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELOFI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELOFI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRCOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRCOR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODCNT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
