@model SIFCA.Models.LaboralesSocio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LaboralesSocio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODNOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODNOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODDEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODDEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODCRG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODCRG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINEMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINEMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FINCAH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINCAH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUELDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUELDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APRTCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APRTCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPSOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPSOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODBCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODBCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTABCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTABCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODDIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODDIR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CISOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
