@{
    ViewBag.Title = "Contabilidad Page";
}

<div class="jumbotron">
    <h2>Contabilidad</h2>
    <p class="lead">Datos Contables</p>
     @Html.ActionLink("Parámetros contables", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
     @Html.ActionLink("Períodos contables", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
     @Html.ActionLink("Catálogo de Cuentas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
     @Html.ActionLink("Ejercicios", "Index", "TipodeSocios", new { area = "" }, new { @class = "navbar-brand" })
     @Html.ActionLink("Períodos Mensuales", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
   

