@{
    ViewBag.Title = "Organizacion Page";
}

<div class="jumbotron">
    <h2>Organizaciones</h2>
    <p class="lead">Datos de las Organizaciones</p>
    @Html.ActionLink("Unidades de tiempo", "Index", "UnidaddeTiempoes", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Direcciones", "Index", "Direcciones", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Estados", "Index", "Estados", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Cargos", "Index", "Cargos", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Títulos", "Index", "Títulos", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Departamentos", "Index", "Departamentos", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Dependencias", "Index", "Dependencias", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Sectores Económicos", "Index", "SectoresEconomicos", new { area = "" }, new { @class = "navbar-brand" })
</div>

