@model SIFCA.Models.RolesporGrupoDirectivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RolesporGrupoDirectivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODGRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODGRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODROL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REFRNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFRNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USRCRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USRCRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCHCRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCHCRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USRACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USRACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCHACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCHACT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CDRLGR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
