@model IEnumerable<SIFCA.Models.PersonalesSocio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CISOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APLLDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FHCNAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDOCVL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODDIR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CISOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APLLDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FHCNAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDOCVL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODDIR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDSOC }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDSOC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDSOC })
        </td>
    </tr>
}

</table>
